nemo_toolkit
fastapi
uvicorn
python-multipart
pydantic
torch
numpy
hydra-core
lightning
lhotse
einops
transformers
sentencepiece
pandas
jiwer
librosa
webdataset
datasets
editdistance
IPython
pydub
ffmpeg-python
soundfile
cuda-python
omegaconf
scikit-learn
fiddle
