flask
uWSGI
flask-expects-json
flask-Cors
nemo_toolkit[asr]
torch
numpy
hydra-core
lightning
lhotse
einops
transformers
sentencepiece
pandas
jiwer
librosa
webdataset
datasets
editdistance
IPython
pydub
ffmpeg-python
soundfile
cuda-python
omegaconf
scikit-learn
